<mat-card
  matRipple
  [ngClass]="{
    'is-foo': true,
    'is-bar': false
  }">

  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>

  <!-- <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div> -->

</mat-card>
