<mat-card
  matRipple
  [ngClass]="{
    'is-foo': true,
    'is-bar': false
  }">

  <!-- TEST 1 component with div with ngStyle and ngClass inside -->

  <!-- <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test>
  <app-test></app-test> -->

  <!-- TEST 2 directly div with ngStyle and ngClass -->

  <!-- <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div>
  <div
    [ngClass]="{
      'foo': true
    }"
    [ngStyle]="{
      'width.px': 100,
      'width.px': 100,
      'background': '#ccc'
    }">
  </div> -->

  <!-- TEST 3 empty div -->

<!-- <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div> -->

</mat-card>
